<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Agreemant ID chat
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="center ion-align-self-center">
        <ion-button class="btn" fill="clear">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="center"
        ><img
          src="https://media.zigcdn.com/media/model/2019/Sep/pulsarns160-right-side-view_360x240.jpg"
      /></ion-col>

      <ion-col size="2" class="center ion-align-self-center">
        <ion-button class="btn" fill="clear">
          <ion-icon name="chevron-forward-outline"></ion-icon> </ion-button
      ></ion-col> </ion-row
  ></ion-grid>
  <ion-content style="height:66%;" [scrollEvents]="true" #content>
    <ion-item *ngFor="let comment of comments">
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label
        ><h3>{{ comment.user }}</h3>
        <p>{{ comment.comment }}</p>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8"
          ><ion-textarea
            name="newComment"
            rows="1"
            placeholder="comment"
            [(ngModel)]="newComment"
          ></ion-textarea
        ></ion-col>
        <ion-col size="4" class="ion-align-self-center center">
          <ion-chip color="primary" (click)="sendComment()">
            <ion-label>send</ion-label>
            <ion-icon name="send-outline"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
