ion-content ion-toolbar {
  --background: translucent;
}

.wrapper {
  margin-top: 10vh;
  align-content: center;
  align-items: center;
}
.container {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  ion-button {
    margin-left: 8px;
    margin-right: 8px;
    color: black;
  }
}
