<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sadaharitha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sadaharitha</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-align-items-center wrapper">
    <div class="container">
      <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
      <div *ngIf="hasInput card">
        <ion-button
          *ngFor="let item of objectList; let i = index"
          expand="full"
          fill="clear"
          (click)="onClick(item,i)"
          >{{ item.id }} {{ item.customer }}
        </ion-button>
      </div>
    </div>
  </ion-row>
  <ion-button (click)="onClick()">Add</ion-button>
</ion-content>
