<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>new Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br />
  <div style="padding: 8px 16px;">
    <ion-label>Notes</ion-label>
    <ion-item>
      <ion-textarea
        rows="2"
        placeholder="Enter any notes here..."
      ></ion-textarea>
    </ion-item>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>camerra</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="map"></ion-icon>
          <ion-label>galary</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
