<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Agreemant : {{ agreemant.id }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let post of posts; let i = index">
    <ion-list>
      <ion-item>
        <!-- <ion-img [src]="post.img[0]"></ion-img> -->

        <ion-label></ion-label>
      </ion-item>
    </ion-list>
    <ion-card-header>
      <ion-card-subtitle>{{ post.agNo }}</ion-card-subtitle>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>Date added</ion-col>
            <ion-col class="center">
              photos<ion-badge color="light">77</ion-badge></ion-col
            ></ion-row
          ></ion-grid
        >
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      comments
      <!-- <ul>
        <li *ngFor="let comment of getComments(postID)">{{ comment }}</li>
      </ul> -->
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size="8"
          ><ion-textarea rows="2" placeholder="comment"></ion-textarea
        ></ion-col>
        <ion-col size="4" class="ion-align-self-center center">
          <ion-chip color="primary">
            <ion-label>send</ion-label>
            <ion-icon name="send-outline"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-button fill="outline" (click)="view(post, i)">view more</ion-button>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addPost()">
    <ion-fab-button>
      <ion-icon style="font-size: xx-large;" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
